@font-face {
  font-family: "Against";
  src: url('fonts/against-regular.woff') format('woff'),
       url('fonts/against\ regular.ttf') format('truetype');
  
}

h1 {
    /*font-family: "kanit", Tahoma,  sans-serif;*/
    font-family: "Against";
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    border-bottom: 3px solid aliceblue; /* Adds a solid line to the bottom of the the object */
  }
h2{
    font-size: 32px;
    text-align: center;
    color: antiquewhite;
    font-weight: bold; /*Makes the characters inside bold*/
  }

h4{
    border-top: 3px aliceblue;
    font-size: 26px;
    margin-top: 0px;
    border-top: 0px;
    margin-bottom: 0px;
    border-bottom: 5px;
    color: antiquewhite;
    font-weight: bold; /*Makes the characters inside bold*/
  }

hr{
  height: 3px;
  width: 100%;
}
  body{
    min-height: 100vh; /*It means 100% of vissible of screen*/
    display: flex;
    flex-direction: column;
  }

  footer{
    
    margin-top: auto;
  }
p{
    font-size: 20px;
    text-indent: 2px;
    text-transform: capitalize;
    text-shadow: #008CBA;
    text-underline-position: inherit;
    color: white;
    font-weight: bold; /*Makes the characters inside bold*/
  }

a:link{
  text-indent: 2px;
  color: rgb(7, 139, 172);
  text-decoration:none;
}

a:visited{
  text-indent: 2px;
  color: rgb(175, 11, 240);
  text-decoration: dotted;
}

a:hover{
  text-indent: 2px;
  color: lightgreen;
  text-decoration: underline;
}

a:active{
  text-indent: 2px;
  color: aliceblue;
  text-decoration: rgb(4, 68, 105);
}
a:link,a:visited,a:hover,a:active{
  padding: 5px 5px;
  text-align: center;
  text-indent: 10%; 
}

.container {
    height: 200px;
    position: relative;
    border: none;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
  }

.button1 {
    background-color: #008CBA;
    color: black;
    border: 2px solid lavender;
  }

.button1:hover{
  background-color: lavender;
  color: white;
}

.button2 {
  background-color: #008CBA;
  color: black;
  border: 2px solid lavender;
}

.button2:hover{
background-color: lavender;
color: white;
}


li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
html{
  background-color: black;
}